/* Container utama */
.swiper-container {
    position: relative;
    height: 100%;
    padding-bottom: 40px; /* Ruang untuk pagination */
  }
  
  /* Slide styling */
  .swiper-slide-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
  }
  
  /* Navigation buttons */
  .swiper-button-prev,
  .swiper-button-next {
    color: #059669; /* emerald-600 */
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    opacity: 1;
  }
  
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Pagination styling */
  .swiper-pagination {
    position: absolute;
    bottom: -5px !important;
  }
  
  .swiper-pagination-bullet {
    background-color: #ffffff; /* emerald-200 */
    opacity: 1;
    width: 12px;
    height: 12px;
    margin: 0 6px !important;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #059669; /* emerald-600 */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .swiper-slide-custom {
      flex-direction: column;
      padding: 20px;
    }
    
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }